p   {
    border: 1rem solid greenyellow;
    margin: 1rem;
    padding: 2rem;
}

a:link, a:visited{
    color: white;
    padding: 15px 25px;
    text-align: center;
    background-color:#f4433f;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active{
    background-color: red;
}